/******* Main Body CSS *******/
article {
	line-height: 1.7;
	text-align: justify;
}
/******* Google Search for site *******/

.google-search {
	min-width: 350px;
}

.gsc-control-cse {
	padding: 3px 3px 0 !important;
}

.gsc-search-button-v2 {
	padding: 10px 27px !important;
}

.gsc-input {
	padding-right: 0 !important;
}

/******* Adsense Starts Here *******/

/* .mw-adsense {
    display: none;
} */

/******* Google Search for site *******/

.mw-fs-10 {
	font-size: 10px;
}

.mw-fs-13 {
	font-size: 13px;
}

.mw-nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.mw-nav-scroller .mw-nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

/* 
.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
} */

/******* Right Sidebar *******/

.mw-sidebar-right {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 100;
}

/******* Collapse Left Sidebar *******/

.mw-collapse-sidebar {
	display: block;
}

.mw-collapse-chapter {
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	top: 0;
	z-index: 9;
	transition: all .5s ease;
	overflow-y: scroll;
}

#check {
	display: none;
}

label #btn-bars, label #btn-cancel {
	position: absolute;
	background-color: #ffffff;
	border: 1px solid;
	border-radius: 3px;
	cursor: pointer;
	z-index: 9;
}

label #btn-bars {
	position: relative;
	left: 4px;
	top: 4px;
	font-size: 25px;
	color: #292221;
	padding: 5px 7px;
	transition: all .5s;
}

label #btn-cancel {
	z-index: 1111;
	left: -195px;
	top: 0;
	font-size: 30px;
	color: #9b0101;
	padding: 4px 9px;
	transition: all .5s ease;
}

#check:checked~.mw-collapse-chapter {
	left: 0;
}

#check:checked~label #btn-bars {
	left: 250px;
	opacity: 0;
	pointer-events: none;
}

#check:checked~label #btn-cancel {
	left: 210px;
}

#check:checked~section {
	margin-left: 250px;
}

/******* Code Block Editor *******/

.code-head {
	background-color: #ededed;
	padding: 5px 10px;
}

.mw-ext {
	color: #fd7317
}

.mw-comt {
	color: #949494;
}

.mw-func {
	color: #f0469b
}

.mw-str {
	color: #0aa93f
}

.mw-int {
	color: #e06715
}

.mw-echo {
	color: #35127a
}

.mw-html {
	color: #d73038
}

.mw-err {
	color: #ff0000
}

.mw-gold {
	color: #ffcc00;
}

.mw-var {
	color: #2bb6b6
}

.mw-lsv {
	color: #3b0f76
}

.mw-cons {
	color: #dd3636
}

.code-syntax-demo {
	font-size: 15px;
	color: white;
	background-color: #002240;
}

.mw-echo-demo {
	color: #00ffff;
}
